.skills-grid {
  display: grid;
  gap: 2rem; /* Adjust gap between columns */
  grid-template-columns: repeat(2, minmax(0, 1fr)); /* 2 columns of equal width */
  justify-items: center; /* Center items horizontally */
}

.skill-column {
  max-width: 300px; /* Adjust based on your content and preference */
}

@media (min-width: 640px) { /* Tailwind's 'sm' breakpoint */
  .skills-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for larger screens */
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px; /* Set a fixed width for the logo */
  height: 80px; /* Set a fixed height for the logo */
  overflow: hidden; /* Ensures the logo doesn't exceed the container */
}

.logo-img {
  max-width: 100%;
  max-height: 100%;
}

.skill-card {
  width: 100%;; /* Adjust based on your preference */
  height: 200px; /* Adjust based on your preference */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Example shadow */
  background-color: #f9f9f9; /* Light grey background */
  border-radius: 8px; /* Rounded corners */
  transition: transform 0.3s ease; /* Smooth transform on hover */
}

.skill-card:hover {
  transform: scale(1.05); /* Slightly enlarge cards on hover */
}

.skill-category {
  margin-bottom: 20px; /* Spacing between category heading and cards */
}

.skill-name {
  text-align: center;
  margin-top: 12px; /* Spacing between logo and text */
}
