/* Base container */
.stack-container {
  max-width: 640px; /* Adjust width as needed for medium button size */
  margin: 40px auto; /* Center the container */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center text */
}

/* Title styling */
.title, .category-title {
  margin-bottom: 20px;
}

/* Skills list and category */
.skills-list, .skill-category {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items in the column */
  gap: 15px; /* Space between items */
}

/* Skill card styling */
.skill-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; /* Full width of the column */
  padding: 12px 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.skill-card:hover {
  transform: scale(1.05);
  background-color: #e0e0e0; /* Darker background on hover */
  color: #000; /* Darker text on hover */
}

/* Logo image styling */
.logo-img {
  width: 50px; /* Adjusted for uniformity */
  height: 50px; /* Adjusted for uniformity */
  margin-right: 20px; /* Space between logo and text */
}

/* Skill name styling */
.skill-name {
  flex-grow: 1;
  text-align: left;
}